@import "../../../scss/styles";
/* card-trends */
.card-trends {
  border-radius: 10px;
  @include border(2px, $primary-color);
  @include flexColumn;
  @include gap(20px);
  align-items: center;
  padding: 40px 30px;

  &__img-one {
    width: 48px;
    height: 48px;
  }

  &__img-two {
    width: 180px;
    height: 100px;
  }

  &__item {
    @include flexColumn;
    @include gap(10px);
    align-items: center;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

@media screen and (max-width: 700px) {
  .card-trends {
    box-sizing: border-box;
    border: 0;
    background-color: $primary-color;
    border-radius: 6px;
    margin-right: 13px;
    padding: 20px;
    &__item {
      @include flexRow;
    }
  }

}

/* /card-trends */