@import "vars";

.app {
  @include flexColumn;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 375px;
  background-color: $colorFon;
  color: $colorWhiteTwo;
  font-family: "SourceSansPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}


.line {
  border: none;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48.42%, rgba(255, 255, 255, 0.04) 100%);

  &__two {
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.02) 100%);
  }
}

.group {
  @include flexRow;
  @include gap(10px);
  align-items: center;
}

.slick-arrow {
  display: none !important;
}


.content {
  align-items: center;
  @include flexColumn;
  @include gap(30px);
}

.container-flex {
  @include flexColumn;
  @include gap(60px);
}

@media screen and (max-width: 700px) {
  .container-flex {
    @include gap(40px);
  }
}


/* container */
.container {
  padding: 120px 8.6%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 60px 16px;
  }
}

/* /container */

/* img */
img {
  object-fit: contain;
}

/* /img */

/* button */
.button {
  @include flexRow;
  justify-content: center;
  @include gap(8px);
  padding: 12px 45px;
  background-color: $colorBlue;
  color: $colorWhite;
  border-radius: 4px;
  border: 0;

  &_style {
    @include border(1px, $colorWhite);
    background-color: transparent;
  }

  &_group {
    @include flexRow;
    @include gap(30px);
    margin-top: 80px;
    margin-bottom: 175px;
  }

  &_link {
    background-color: transparent;
  }

  &_choose {
    padding: 20px 10px;
    background-color: transparent;
    border: 0;
  }
}

@media screen and (max-width: 1040px) {
  .button {
    &_link {
      display: none;

      &-two {
        padding: 0;
        background-color: transparent;
        border: none;
        color: $colorGrey;
      }
    }
    &_choose {
      padding: 12px 45px;
      background-color: $colorBlue;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 500px) {
  .button {
    width: 100%;

    &_group {
      margin-top: 20px;
      margin-bottom: 0;
      @include flexColumn;
      width: 100%;
    }
  }
}

/* /button */

/* menu */
.menu {
  &__list {
    @include flexRow;
    @include gap(30px);
  }

  &__item {
    @include flexRow;
    gap: 12px;
    padding: 18px 8px;
  }

  &__text {
    color: $colorGreyTwo;
  }
}


@media screen and (max-width: 1040px) {
  .menu {
    display: none;
  }
}

/* /menu */

/* user-actions */
.user-actions {
  &__item {
    @include font(24px, 20px, 36px, 32px);
    font-weight: $fontWeightRegular;

    a {
      padding: 12px 37px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .user-actions {
    @include gap(30px);

    &__item {
      a {
        padding: 0;
      }
    }
  }

}

/* /user-actions */


.choose {
  h2 {
    color: $colorBlackTwo;
  }

  &__blocks {
    @include flexRow;
    @include gap(135px);
  }

  &__block {
    @include flexColumn;
    @include gap(40px);
  }

  &__groups {
    @include flexRow;
    @include gap(20px);
  }

  &__group {
    @include flexColumn;
    gap: 12px;
  }

  &__img {
    width: auto;
    margin: auto;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 1200px) {
  .choose {
    &__blocks {
      @include gap(50px);
    }
  }
}

@media screen and (max-width: 1000px) {
  .choose {
    &__blocks {
      flex-direction: column-reverse;
      @include gap(40px);
    }
  }
}


@media screen and (max-width: 700px) {
  .choose {
    h2 {
      color: $colorGreyTwo;
    }
    &__groups {
      @include flexColumn;
      align-items: center;
    }
    &__group {
      align-items: center;
      p {
        text-align: center;
      }
    }
  }
  .line__two {
    display: none;
  }
}