@import "vars";

.app {
  @include flexColumn;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 375px;
  background-color: $colorFon;
  color: $colorWhiteTwo;
  font-family: "SourceSansPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

.form {
  height: 100vh;
}

.line {
  border: none;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.2) 48.42%, rgba(255, 255, 255, 0.04) 100%);

  &__two {
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.02) 100%);
  }

  &__active {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .line__active {
    display: block;
  }
}

.group {
  @include flexRow;
  @include gap(10px);
  align-items: center;
}

.slick-arrow {
  display: none !important;
}


.content {
  align-items: center;
  @include flexColumn;
  @include gap(30px);

  &__about-us {
    @include flexRow;
    justify-content: space-between;
    @include gap(30px);
  }
  p {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .content {
    &__about-us {
      @include flexColumn;
      justify-content: space-between;
    }
  }
}


/* container */
.container {
  padding: 120px 8.6%;

  &-color {
    background-color: $primary-color;
  }

  &-flex {
    @include flexColumn;
    @include gap(60px);
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 60px 16px;

    &-flex {
      @include gap(40px);
    }
  }
}

/* /container */

/* img */
img {
  object-fit: contain;
}

.logo {
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

/* /img */

/* button */
.button {
  @include flexRow;
  justify-content: center;
  align-items: center;
  @include gap(8px);
  padding: 12px 45px;
  background-color: $colorBlue;
  color: $colorWhite;
  border-radius: 4px;
  border: 0;
  &:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid $colorBlue;
  }

  &_style {
    @include border(1px, $colorWhite);
    background-color: transparent;
  }

  &_group, &_group-auth {
    @include flexRow;
    @include gap(30px);
    margin-top: 80px;
    margin-bottom: 175px;
  }

  &_link {
    background-color: transparent;

    &:hover {
      cursor: pointer;
      border: 1px solid $colorBlue;
    }
    &-two:hover {
      cursor: pointer;
      border: 1px solid #1B70F1;
      color: $colorWhite;
    }
  }

  &_choose {
    padding: 20px 10px;
    background-color: transparent;
    border: 0;
  }

  &_commerce {
    padding: 24px 12px;
    background-color: transparent;
    border: 0;
    color: $colorGrey;
  }
  &__password{
    padding: 0;
    color: $colorBlue;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    margin-left: auto;
  }
}

@media screen and (max-width: 1040px) {
  .button {
    &_link {
      display: none;

      &-two {
        background-color: transparent;
        border: none;
        color: $colorGrey;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .button {
    width: 100%;
    height: 48px;
    align-items: center;

    &_group {
      margin-top: 20px;
      margin-bottom: 0;
      @include flexColumn;
      width: 100%;
    }

    &_choose, &_commerce {
      padding: 12px 45px;
      background-color: $colorBlue;
      color: $colorWhite;
      border-radius: 4px;
    }
  }
}

/* /button */

/* menu */
.menu {
  &__list {
    @include flexRow;
    @include gap(30px);
  }

  &__item {
    @include flexRow;
    gap: 12px;
    padding: 18px 8px;
    align-items: center;

    &:hover {
      cursor: pointer;

      p {
        color: $colorWhite;
      }

      .menu__arrow {
        background-image: url("../images/header/arrowTwo.svg");
      }
    }
    &-two:hover {
      cursor: pointer;
      border: 1px solid $colorBlue !important;
    }
  }

  &__arrow {
    width: 9px;
    height: 4px;
    background-image: url("../images/header/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__text {
    color: $colorGreyTwo;
  }
}


@media screen and (max-width: 1040px) {
  .menu {
    display: none;
    &__active {
      display: flex;
      flex-direction: column;
    }
    &__list {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 830px) {
  .menu__list_footer {
    display: none;
  }
}

/* /menu */

/* user-actions */
.user-actions {
  &__item {
    @include font(24px, 20px, 36px, 32px);
    font-weight: $fontWeightRegular;

    a {
      padding: 12px 37px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .user-actions {
    @include gap(30px);

    &__item {
      a {
        padding: 0;
      }
    }
  }

}

/* /user-actions */


.slick-dots li {
  height: 4px;
  width: 40px;
  background-color: #1E1F25;
  margin-right: 10px;
  margin-left: 0;
}

.slick-dots li button {
  width: 35px;
  height: 4px;
  opacity: .2;
  padding: 0;
  background-color: $colorWhite;
}

.slick-dots li button:before {
  width: 40px;
  height: 4px;
}

.slick-dots li.slick-active {
  background-color: $colorGreyFour;

}

.slick-dots li.slick-active button:before {
  opacity: 1;
}


.active {
  display: none !important;
}

.password-input-container {
  .phone_input {
    border: 0;
    padding: 0;
  }
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  &_opened {
    opacity: 1;
    visibility: visible;
  }
  &__container {
    border-radius: 10px 0 0 10px;
    background: $primary-color;
    max-width: 430px;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-top: 0;
  }
}